body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.header {
    position: relative;
}

.header video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.header-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.2rem;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #007BFF !important;
}

h2 {
    color: #007BFF;
    margin-bottom: 20px;
}

#practices-animation {
    margin-top: 20px;
}

.practice-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    text-align: center;
    width: 15%;
    margin: 10px;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.practice-card:hover {
    transform: scale(1.05);
    background-color: #e2e6ea;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.list-unstyled li {
    margin: 10px 0;
    font-size: 1.1rem;
}

.table {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
}
